<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>4</ApplicationRevision>
    <ApplicationVersion>1.0.0.4</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <IsRevisionIncremented>False</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ManifestCertificateThumbprint>614718C0F6225F0A66BD7BD3121058CFE818D557</ManifestCertificateThumbprint>
    <ManifestKeyFile>WILK_TemporaryKey.pfx</ManifestKeyFile>
    <InstallUrl>https://raw.githubusercontent.com/Leooa501/WILK_szkielet/refs/heads/main/</InstallUrl>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <UpdateUrl>https://raw.githubusercontent.com/Leooa501/WILK_szkielet/refs/heads/main/published/</UpdateUrl>
    <BootstrapperComponentsLocation>Absolute</BootstrapperComponentsLocation>
    <BootstrapperComponentsUrl>https://raw.githubusercontent.com/Leooa501/WILK_szkielet/refs/heads/main/</BootstrapperComponentsUrl>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 8.0.24 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>